# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~
*.swp
*.swo
vim/.vim/backup/.*
vim/.vim/view/.*
vim/.vim/temp/.*
scripts/bin/*git-author-rewrite*
scripts/bin/10sec.sh
scripts/bin/BSNI*
scripts/bin/EMPTY-fw*
scripts/bin/List-servers.csv
scripts/bin/Telegram
scripts/bin/agrep.rb
scripts/bin/ascii85
scripts/bin/asciinema2gif.py
scripts/bin/bayes.rb
scripts/bin/blurrily
scripts/bin/boom
scripts/bin/bundle
scripts/bin/bundler
scripts/bin/byebug
scripts/bin/certified-update
scripts/bin/clash
scripts/bin/clenotes.sh
scripts/bin/coderay
scripts/bin/concurrent.lib.sh
scripts/bin/csv2odf
scripts/bin/fw*
scripts/bin/geckodriver
scripts/bin/ghclgen
scripts/bin/ghi
scripts/bin/git-generate-changelog
scripts/bin/gmail
scripts/bin/gorilla.tcl
scripts/bin/hoc
scripts/bin/harden
scripts/bin/htmldiff
scripts/bin/httparty
scripts/bin/incrase-filesystem-aix.pl
scripts/bin/jekyll
scripts/bin/kramdown
scripts/bin/ldiff
scripts/bin/lein
scripts/bin/lico-update.sh
scripts/bin/listen
scripts/bin/mdwtest.sh
scripts/bin/mux
scripts/bin/nokogiri
scripts/bin/obex_thunar.sh
scripts/bin/ocra
scripts/bin/octopress
scripts/bin/overcommit
scripts/bin/pdf_callbacks
scripts/bin/pdf_list_callbacks
scripts/bin/pdf_object
scripts/bin/pdf_text
scripts/bin/pdk
scripts/bin/posix-spawn-benchmark
scripts/bin/pry
scripts/bin/pulint
scripts/bin/pulsemixer
scripts/bin/puppet-lint
scripts/bin/rackup
scripts/bin/rake
scripts/bin/rdoc
scripts/bin/redcarpet
scripts/bin/reek
scripts/bin/restore-disk.sh
scripts/bin/ri
scripts/bin/rmsgcat
scripts/bin/rmsgfmt
scripts/bin/rmsginit
scripts/bin/rmsgmerge
scripts/bin/rspec
scripts/bin/rubocop
scripts/bin/ruby-parse
scripts/bin/ruby-rewrite
scripts/bin/rxgettext
scripts/bin/safe_yaml
scripts/bin/sas.sh
scripts/bin/sass
scripts/bin/sass-convert
scripts/bin/scss
scripts/bin/sloc2html.py
scripts/bin/sshint
scripts/bin/summarize.rb
scripts/bin/svncram
scripts/bin/tags
scripts/bin/thor
scripts/bin/tilt
scripts/bin/tmuxinator
scripts/bin/tp5svn.sh
scripts/bin/unparser
scripts/bin/update_rubygems
scripts/bin/vpn
scripts/bin/zadmi*
vim/tags
