! {{{ Quick Reference
!
! Scrolling:
! Scroll Wheel
! Shift-PgUp/PgDn
!
! Copy/Paste:
! Mouse-Select : Copy to PRIMARY
! Shift + Mouse-Select: Copy to CLIPBOARD
!
! Middle-Click : Paste from PRIMARY
! Shift + Middle-Click: Paste from CLIPBOARD
!
! Ctrl+Shift+V : Paste from CLIPBOARD
! Ctrl+Alt+Shift+V : Paste from PRIMARY
!
! }}}

! Make Tk applications slightly less ugly
*TkTheme: clearlooks

! ---=== XTerm Defaults for a nice mix of Linux console and Konsole ===---

! Operate terminals in utf8 mode whether or not uxterm was called
*VT100.utf8: 1

! Plenty of room for things like Vim :vsplit
*VT100*geometry: 160x50

! Set the Urgent hint on bell for console apps without notify-send
!XTerm*bellIsUrgent: true
!UXTerm*bellIsUrgent: true

! White on Black without being eye-straining.
*customization: -color
*VT100*foreground: gray70
*VT100*background: black

! Make the scrollbar look a little less 1980s on all Athena-based VT100s.
*VT100.scrollbar.background: gray60
*VT100.scrollbar.foreground: white
*rightScrollBar: true

! More Konsole/Yakuake-like keybindings:
! NOTE: in Konsole/Yakuake, bind Ctrl+Backspace to \b
*VT100.Translations: #override \
             Shift <Key>Up: scroll-back(1) \n\
             Shift <Key>Down: scroll-forw(1) \n\
\
            ~Ctrl<Key>BackSpace: string(0x08) \n\
             Ctrl<Key>BackSpace: string(0x1b) string(0x08) \n\
\
            ~Ctrl<Key>Tab: string(0x09) \n\
             Ctrl<Key>Tab: string(0x1b) string("r") \n\
\
      ~Meta Shift Ctrl <Key>V: insert-selection(CLIPBOARD) \n\
       Meta Shift Ctrl <Key>V: insert-selection(PRIMARY) \n\
            ~Shift ~Ctrl <Btn2Up>: insert-selection(PRIMARY, CUT_BUFFER0) \n\
             Shift ~Ctrl <Btn2Up>: insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
            ~Shift <BtnUp>: select-end(PRIMARY, CUT_BUFFER0) \n\
             Shift <BtnUp>: select-end(CLIPBOARD, CUT_BUFFER1) \n\

! Make selection of URLs and ebuild names behave more naturally
*charClass: 33:48,35:48,37-38:48,43-47:48,58:48,61:48,63-64:48,95:48,126:48

! Keep 5K of scrollback and only reset the scroll position on keypresses.
XTerm*saveLines: 5120
XTerm*scrollKey: true
XTerm*scrollTtyOutput: false


! Seems good this (!?)
Xft.autohint:       0
Xft.antialias:      true
Xft.hinting:        full
Xft.hintstyle:      hintslight
Xft.dpi:            96
Xft.rgba:           rgb
Xft.lcdfilter:      lcddefault
 

!##############################################################################
! URxvt ---------------------------------------------------------------
! Author: Several and myself
!##############################################################################

URxvt.iconFile: /usr/share/icons/elementary/apps/32/terminal.svg

! URL integration, clipboard and tabbed (shift/ctrl right, left, down, up)
URxvt.perl-lib: /home/antenore/.urxvt
URxvt.perl-ext-common:      default,matcher,tabbed,clipboard,searchable-scrollback
URxvt.urlLauncher:          xdg-open
URxvt.matcher.button:       1
URxvt.matcher.rend.0:       Uline Bold fg8
URxvt.print-pipe:           cat > $(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))

!==============================================================================
!Font
!==============================================================================

!URxvt*font:            xft:Monospace:pixelsize=12
!URxvt*boldFont:        xft:Monospace:bold:pixelsize=12
!URxvt*font:            xft:Bitstream\ Vera\ Sans\ Mono:style=Regular:pixelsize=14
!URxvt*boldFont:        xft:Bitstream\ Vera\ Sans\ Mono:style=Bold:pixelsize=14
URxvt.font: -*-termsyn-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt.boldFont: -*-termsyn-bold-r-*-*-14-*-*-*-*-*-*-*

!==============================================================================
!Options
!==============================================================================
URxvt*termName:         rxvt-unicode
URxvt.imLocale:         ch_FR.UTF-8
URxvt.loginShell:       true
URxvt.saveLines:        32767
URxvt.geometry:         160x50
URxvt.pastableTabs:     true
URxvt.boldMode:         false
URxvt.skipBuiltinGlyphs: true
!URxvt.inheritPixmap:    true
URxvt.xftAntialias:     true
URxvt*internalBorder:   3
! Set the Urgent hint on bell for console apps without notify-send
!URxvt.urgentOnBell: true
! More Konsole/Yakuake-like clipboard keybindings
URxvt.iso14755: false
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.S-C-C: perl:clipboard:copy
URxvt.keysym.S-C-V: perl:clipboard:paste
URxvt.keysym.M-v: perl:clipboard:paste_escaped
! Unbreak zsh keys in URxvt
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~
! Match my XTerm additions
URxvt*keysym.C-BackSpace: \033\010
URxvt*keysym.C-Tab: \033r
! Extend smart selection for the zsh and Python interactive interpreter prompts
URxvt.selection.pattern-0: >>>[ ]+(.+)
URxvt.selection.pattern-1: .+?@.+? .+? %%?[ ]+(.+)
URxvt.selection-autotransform.0: s/^([^:[:space:]]+):(\\d+):?$/+$2 \\Q$1\\E/
URxvt.cutchars: "()*,<>[]{}|''"
!==============================================================================
! Scroll
!==============================================================================
URxvt.jumpScroll:       true
! Make the scrollbar look a little less 1980s.
URxvt*scrollstyle: plain
URxvt*scrollBar_right: true
URxvt.scrollColor: #bdef34
! Keep 5K of scrollback and only reset the scroll position on keypresses.
URxvt.scrollWithBuffer: true
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true
!==============================================================================
! Tabs
!==============================================================================
! tabs
URxvt.tabbed.tabbar-fg: 7
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 7
URxvt.tabbed.tab-bg: 4
!==============================================================================
!Cursor
!==============================================================================
URxvt*cursorBlink:      true
URxvt*cursorUnderline:  false
URxvt*cursorColor:      #d6dadf

!==============================================================================
!Colors
!==============================================================================
!#include "/home/antenore/.Xdefaults.local"
URxvt.tintColor:            white
URxvt.depth: 32
URxvt.intensityStyles:      true
URxvt.background:           [90]#1B1D1E
URxvt.foreground:           #FFFFFF
URxvt.cursorColor:          #0A9DFF
uRxvt.highlightColor:       #0A9DFF
URxvt*internalBordercolor:  #121212
URxvt.underlineColor:       #999999
URxvt*colorBD:              #FFFFFF
URxvt*colorUL:              #CCCCFF

#include "/home/antenore/.Xcolors/sickill8"

!==============================================================================
! XPDF
!==============================================================================

xpdf*antialias: yes
xpdf*background: white
xpdf*enableFreetype: yes
xpdf*foreground: black
xpdf*urlCommand: chromium %s

! Eventually
!#include "/home/antenore/.Xresources.local"
