! -=################################## Xresource file ##################################=-
! {{{ Description
! Load with xrdb .Xresources
!
! Add to .xinitrc if you use startx
!
! Scrolling:
! Scroll Wheel
! Shift-PgUp/PgDn
!
! Copy/Paste:
! Mouse-Select             :  Copy to PRIMARY
! Shift + Mouse-Select     :  Copy to CLIPBOARD
!
! Middle-Click             :  Paste from PRIMARY
! Shift + Middle-Click     :  Paste from CLIPBOARD
!
! Ctrl+Shift+V             :  Paste from CLIPBOARD
! Ctrl+Alt+Shift+V         :  Paste from PRIMARY
!
!===============================================================================
! }}}
! General Options {{{1 =========================================================
! Make Tk applications slightly less ugly
*TkTheme                                      : clam
! Operate terminals in utf8 mode whether or not uxterm was called
*VT100.utf8                                   : 1
! Plenty of room for things like Vim :vsplit
*VT100*geometry                               : 160x50
*customization                                : -color
! -END- General Options 1}}}
! Color section {{{1 ===========================================================
!
!===============================================================================
!#include "/home/antenore/.Xcolors/raven_m9-dark"
!#include "/home/antenore/.Xcolors/gruvy"
!#include "/home/antenore/.Xcolors/LuciusBlack"
!#include "/home/antenore/.Xcolors/Luciano3"
!#include "/home/antenore/.Xcolors/hydra"
!include "/home/antenore/.Xcolors/gruvbox-dark.xresources"
!#include "/home/antenore/.Xcolors/nord"
!#include "/home/antenore/.Xcolors/dracula"
#include "/home/antenore/.cache/wal/colors.Xresources"
!Debian (lovely)
#define DebianRed #D70A53
! MAN (xterm and generic)
*VT100.colorBDMode                            : True
*VT100.colorULMode                            : True
*VT100.veryBoldColors: 6
!*colorBD: red
!*colorIT: cyan
!*colorUL: yellow
! -END- Color Section 1}}}
! XFT Section {{{1
Xft.antialias                                 : 1
Xft.autohint                                  : 0
Xft.dpi                                       : 102
Xft.hinting                                   : 1
Xft.hintstyle                                 : hintslight
Xft.lcdfilter                                 : lcddefault
Xft.rgba                                      : rgb
*font : Roboto Mono Nerd Font:size=14:lcdfilter=lcddefault:hintstyle=hintslight:hinting=true:rgba=rgb:antialias=true:autohint=false
*.font : Roboto Mono Nerd Font:size=14:lcdfilter=lcddefault:hintstyle=hintslight:hinting=true:rgba=rgb:antialias=true:autohint=false
*font* : Roboto Mono Nerd Font:size=14:lcdfilter=lcddefault:hintstyle=hintslight:hinting=true:rgba=rgb:antialias=true:autohint=false
! -END- XFT Section 1}}}
! St Section {{{1
!! Transparency (0-1):
st.alpha: 0.96
!st.alphaOffset: 0.3

!! Set a default font and font size as below:
st.font: Roboto Mono Nerd Font:size=14

st.termname: st-256color
st.borderpx: 2

! -END- St Section 1}}}
! XTerm Section {{{1 ===========================================================
XTerm.termName                                : xterm-256color
XTerm.AllowIconInput                          : on
XTerm.bellIsUrgent                            : true
!XTerm.Border                                  : Grey25
XTerm.charClass                               : 33:48,37:48,45-47:48,64:48
XTerm.colorAttrMode                           : true
XTerm.colorMode                               : true
XTerm.curses                                  : on
XTerm.cutNewline                              : off
XTerm.DeiconifyWarp                           : off
XTerm.font                                    : xft:Roboto Mono Nerd Font:size=14:lcdfilter=lcddefault:hintstyle=hintslight:hinting=true:rgba=rgb:antialias=true:autohint=false
XTerm.font1                                   : xft:Roboto Mono Nerd Font:size=14:lcdfilter=lcddefault:hintstyle=hintslight:hinting=true:rgba=rgb:antialias=true:autohint=false
XTerm.InternalBorder                          : 1
!XTerm.jumpScroll                              : on
XTerm.loginShell                              : true
XTerm.MarginBell                              : off
XTerm.MenuFont                                : fixed8
XTerm.multiClickTime                          : 250
XTerm.multiScroll                             : on
XTerm.reverseWrap                             : off
XTerm.saveLines                               : 32768
XTerm.scrollBar                               : false
XTerm.scrollKey                               : true
XTerm.scrollTtyOutput                         : false
XTerm.TitleFont                               : vtbold
!XTerm.veryBoldColors                          : 6
! -END- XTerm Section 1}}}
! XScreenSaver Section {{{1 ====================================================
!
! ==============================================================================
xscreensaver.dateFormat                       : %I:%M%P %a %b %d, %Y
xscreensaver.Dialog.background                : #111111
xscreensaver.Dialog.bodyFont                  : -*-tamsyn-medium-*-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.borderWidth               : 20
xscreensaver.Dialog.bottomShadowColor         : #111111
xscreensaver.Dialog.Button.background         : #ffffff
xscreensaver.Dialog.buttonFont                : -*-tamsyn-bold-*-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.Button.foreground         : #666666
xscreensaver.Dialog.dateFont                  : -*-tamsyn-medium-*-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.foreground                : #ffffff
xscreensaver.Dialog.headingFont               : -*-tamsyn-bold-*-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.internalBorderWidth       : 24
xscreensaver.Dialog.labelFont                 : -*-tamsyn-medium-*-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.shadowThickness           : 2
xscreensaver.Dialog.text.background           : #ffffff
xscreensaver.Dialog.text.foreground           : #666666
xscreensaver.Dialog.topShadowColor            : #111111
xscreensaver.Dialog.unameFont                 : -*-tamsyn-medium-*-*-*-17-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont                : -*-tamsyn-bold-*-*-*-17-*-*-*-*-*-*-*
xscreensaver.passwd.thermometer.background    : #000000
xscreensaver.passwd.thermometer.foreground    : #006aff
xscreensaver.passwd.thermometer.width         : 8
! XLock Section {{{2 ===========================================================
XLock.mode                                    : random
XLock.erasemode:
XLock.erasedelay                              : 400
XLock.erasetime                               : 2
XLock.allowaccess                             : off
XLock.debug                                   : off
XLock.description                             : on
XLock.echokeys                                : on
XLock.echokey                                 : *
XLock.enablesaver                             : off
XLock.resetsaver                              : on
XLock.grabmouse                               : on
XLock.grabserver                              : off
XLock.hide                                    : on
XLock.install                                 : on
XLock.mousemotion                             : off
XLock.mono                                    : off
XLock.sound                                   : off
XLock.showdate                                : on
XLock.timeelapsed                             : off
XLock.usefirst                                : on
XLock.verbose                                 : off
XLock.visual:
XLock.nice                                    : 10
XLock.lockdelay                               : 0
XLock.unlockdelay                             : 0
XLock.timeout                                 : 30
XLock.font                                    : -*-tamsyn-medium-*-*-*-17-*-*-*-*-*-*-*
XLock.planfont                                : -*-tamsyn-medium-*-*-*-17-*-*-*-*-*-*-*
XLock.background                              : White
XLock.foreground                              : Black
XLock.username                                : Name:
XLock.password                                : Password:
XLock.info                                    : Enter password to unlock; select icon to lock.
XLock.validate                                : Validating login...
XLock.invalid                                 : Invalid login.
XLock.invalidCapsLock                         : Invalid login, Caps Lock on.
XLock.attempt                                 : failed attempt.
XLock.attempts                                : failed attempts.
XLock.geometry:
XLock.icongeometry:
XLock.wireframe                               : off
XLock.use3d                                   : off
XLock.delta3d                                 : 1.5
XLock.none3d                                  : Black
XLock.right3d                                 : Blue
XLock.left3d                                  : Red
XLock.both3d                                  : Magenta
XLock.program                                 : fortune -s
XLock.messagesfile:
XLock.messagefile:
XLock.message:
XLock.messagefont                             : -*-tamsyn-medium-*-*-*-17-*-*-*-*-*-*-*
XLock.logoutButton                            : -1
XLock.logoutButtonLabel                       : Logout
XLock.logoutButtonHelp                        : Click here to logout
XLock.logoutFailedString                      : Auto-logout failed
XLock.startCmd:
XLock.endCmd:
XLock.pipepassCmd:
XLock.logoutCmd:
XLock.dpmsstandby                             : -1
XLock.dpmssuspend                             : -1
XLock.dpmsoff                                 : -1
XLock.mailCmd:
XLock.mailIcon:
XLock.nomailIcon:
XLock.blank.delay                             : 3000000
XLock.blank.count                             : 1
XLock.blank.cycles                            : 1
XLock.blank.size                              : 1
XLock.blank.ncolors                           : 64
XLock.blank.saturation                        : 1
XLock.blank.bitmap:
XLock.random.delay                            : 1
XLock.random.count                            : 1
XLock.random.cycles                           : 1
XLock.random.size                             : 1
XLock.random.ncolors                          : 64
XLock.random.saturation                       : 1
XLock.random.bitmap:
XLock.random.duration                         : 60
XLock.random.modelist:
XLock.random.sequential                       : False
XLock.random.fullrandom                       : True
! -END- XLock 2}}}
! -END- XScreenSaver 1}}}
! XPDF Section {{{ =============================================================
!
!===============================================================================
xpdf*antialias                                : yes
xpdf*background                               : white
xpdf*enableFreetype                           : yes
xpdf*foreground                               : black
xpdf*urlCommand                               : firefox %s
! -END- XPDF }}}
! DZEN2 Section {{{ ============================================================
!
!===============================================================================
!dzen2.font                                   : -*-tamsyn-normal-*-*-*-8-*-*-*-*-*-*-*
!dzen2.foreground                             : #c8e7a8
!dzen2.background                             : #1A1A1A
! -END- DZEN2 }}}
